.navegacao-bar {
  position: absolute;
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: end; /* alinha os itens no canto esquerdo */
  align-items: center;
  padding: 20px 10px;
  margin-left: 80px;
  box-sizing: border-box;
  
}



.mobile-menu div{
    width: 32px;
    height: 2px;
    margin: 8px;
    
    cursor: pointer;
    position: relative;
       background-color: var(--cor-primaria-light);
    display: flex;
    align-items: center;
    justify-content: space-between;

    

}


.nav-list {
  position: absolute;
  top: 89px;
  right: 0;
  width: 328px;
  height: 89vh;
  background-color: var(--cor-secundaria-dark);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 3rem;

  transform: translateX(100%);
  transition: transform 0.3s ease-in;

  /* ADICIONE ESTA LINHA */
  padding-top: 2rem; /* ou 20px, ajuste como preferir */
  padding-left: 15px;


 
 
}






.nav-list a:first-child {
  margin-top: 2rem; /* 👈 afasta o primeiro link do topo */
}



  .nav-list li {
    margin-left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }

  .mobile-menu {
    display: block;
  }

  .nav-list.active {
    transform: translateX(0%);
  }

  .nav-list.active li {
    opacity: 1;
  }

