.ofertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xl);
    background-color: var(--cor-secundaria-light);
    max-width: 100%;
    padding: var(--padding-5xl);
}

.ofertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xl);
    background-color: var(--cor-secundaria-light);
    width: 100%;
    padding: var(--padding-5xl);
}

.ofertas-titulo {
    color: var(--cor-primaria-light);
}

.ofertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xl);
    background-color: var(--cor-secundaria-light);
    max-width: 100%;
    padding: var(--padding-5xl);
}

.ofertas-titulo {
    color: var(--cor-primaria-light);
}

.carrossel {
    display: flex;
    gap: var(--gap-l);
    position: relative;
    overflow: hidden;
    width: 100%;

     @media (max-width: 1212px){
       display: flex;
       flex-wrap: wrap;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
}

.ofertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xl);
    background-color: var(--cor-secundaria-light);
    width: 100%;
    padding: var(--padding-5xl) 0;
}

/* C贸digo omitido */


.carrossel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-m) var(--padding-s);
    background-color: var(--cor-neutra-light);
    border-radius: 1rem;
    text-align: center;
    gap: var(--gap-m);
}

/* C贸digo omitido */

.carrossel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-m) var(--padding-s);
    background-color: var(--cor-neutra-light);
    border-radius: 1rem;
    text-align: center;
    gap: var(--gap-m);
}

.carrossel-nome, .carrossel-preco {
    font-family: var(--font-poppins);
    font-size: var(--font-size-xm);
    font-weight: 600;
}

/* C贸digo omitido */

.carrossel-nav {
    border: none;
    border-radius: 50%;
    padding: var(--padding-m);
    background-color: var(--cor-primaria-light);
    color: var(--cor-neutra-light);
    display: none;
}

/* C贸digo omitido */

.carrossel-nav {
    border: none;
    border-radius: 50%;
    padding: var(--padding-m);
    background-color: var(--cor-primaria-light);
    color: var(--cor-neutra-light);
}

.carrossel-button {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 45%;

     @media (max-width: 768px){
        display: none;
    }
}